html {
  --star-active: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,203,0,1) 100%);
  --star-inactive: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(91,90,90,1) 100%);
  min-width: 320px;
}